.contactUsWrapper {
	background-color: rgba(53, 50, 50, 0.94);
	color: white;
	padding-top: 20px;
	.contactUs {
		display: flex;
		max-width: 700px;
		margin: auto;
		padding-top: 10px;
		padding-bottom: 40px;
		.contactUs1 {
			flex: 1 0 20%;
			img {
				max-height: 40px;
				max-width: 75px;
				margin-top: 20px;
			}
			p {
				font-size: 12px;
				line-height: 1.6;
			}
			i {
				margin: 5px;
			}
		}
		.itemTag {
			flex: 1 0 20%;
			.itemTagFlex {
				display: flex;
				flex-wrap: wrap;
				flex: 33.33%;
				p {
					border: 1px gray solid;
					margin: 4px;
					padding: 5px;
				}
				.theme {
					border: 1px white solid;
				}
			}
		}
		.service {
			flex: 1 0 20%;
			p {
				font-size: 12px;
			}
		}
		.office {
			flex: 1 0 20%;
			p {
				color: white;
				font-size: 12px;
			}
			i {
				margin-right: 5px;
			}
		}
	}
}

@media (max-width: 768px) {
	.contactUsWrapper .contactUs {
		flex-wrap: wrap;
		max-width: 470px;
		.contact {
			flex: 1 0 50%;
		}
	}
}

@media (max-width: 480px) {
	.contactUsWrapper {
		.contactUs {
			margin: 0px auto;
			padding-right: 0px;
			padding-left: 0px;
			.contact {
				max-width: 300px;
				flex: 1 0 75%;
				margin: 0px auto;
				padding: 0px;
			}
		}
	}
}